<div class="page-header">
  <h1><%= @user.full_name %></h1>
  <%= link_to "Add Friend", new_user_friendship_path(friend_id: @user), class: "btn btn-default" %>
</div>

<% if @statuses %>
  <% @statuses.each do |s| %>
    <div class="well">
      <%= s.content %>
      <hr />
      <%= link_to time_ago_in_words(s.created_at), status_path(s) %> ago
    </div>
  <% end %>
<% end %>
